{% extends "base_generic.html" %}

{% block content %}
    {% for u in user %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card bg-light">
                        <div class="card-body bg-muted">
                            <h3 class="text-center">{{ u.username }}'s Favorite Cart</h3>
                            <ul class="list-group list-group-flush" id="itemList">
                                <li class="list-group-item text-center" onclick="removeItem(this)">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="lead">Item Name</p>
                                            </div>
                                            <div class="col-lg-4">
                                                <p class="lead">Item Number</p>
                                            </div>
                                            <div class="col-lg-4">
                                                <p class="lead">Price</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% for item in u.favoriteCart.item.all %}
                                    <li class="list-group-item text-center" onclick="removeItem(this)">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    {{ item.name }}
                                                </div>
                                                <div class="col-lg-4">
                                                    {{ item.item_number }}
                                                </div>
                                                <div class="col-lg-4">
                                                    ${{ item.price }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3 class="lead"> Put marked map here? </h3>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
