{% extends "base_generic.html" %}

{% block title %}<title>Stats</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script>
            jQuery(function ($) {
                var favorite_foods_number = [];
                var favorite_foods_price = [];
                var favorite_foods_names = [];
                {% for u in user %}
                    {% for item in u.favoriteItems.all %}
                        favorite_foods_names.push("{{ item.name }}");
                        favorite_foods_number.push({{ item.item_number }})
                        favorite_foods_price.push({{ item.price }})
                    {% endfor %} 
                {% endfor %}
            
                
        
        $("#shopping-distribution").shieldChart({
            primaryHeader: {
                text: "Favorite Food Prices"
            },
                axisX: {
                    categoricalValues: favorite_foods_names
                },
            dataSeries: [{
                seriesType: "bar",
                collectionAlias: "Purchases",
                data: favorite_foods_price
            }]
        });

        $("#favorite-foods").shieldChart({
            primaryHeader: {
                text: "Favorite Food Purchases"
            },
                axisX: {
                    categoricalValues: favorite_foods_names
                },
            dataSeries: [{
                seriesType: "bar",
                collectionAlias: "Purchases",
                data: favorite_foods_number
            }]
        });
    });
    </script> 
{% endblock %}

{% block content %}
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Shopping Distribution</h3>
                    </div>
                    <div class="panel-body">
                        <div id="shopping-distribution" style="height: 270px;"></div>
                    </div>
                </div>
            </div>
            
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Top 5 Favorite Foods</h3>
                    </div>
                    <div class="panel-body">
                        <div id="favorite-foods" style="height: 270px;"></div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>


    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
{% endblock %}
   